<div class="flex flex-col gap-4 sm:gap-8">
  <h1 class="text-xl sm:text-2xl">User List</h1>
  <table class="table w-full">
    <thead>
      <tr>
        <th class="w-5/12">Name</th>
        <th class="hidden md:table-cell w-3/12">Phone Number</th>
        <th class="hidden sm:table-cell w-3/12">Website</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoading && users.length > 0" data-test-id="user-table">
      <tr *ngFor="let user of users">
        <td class="flex items-center gap-3">
          <div class="avatar hidden sm:block">
            <div class="mask mask-squircle h-12 w-12 flex bg-primary content-center text-center text-white text-2xl font-bold">
              {{ user?.name?.substring(0, 1) }}
            </div>
          </div>
          <div>
            <div class="font-bold" data-test-id="user-name">{{ user.name }}</div>
            <div class="text-sm opacity-50">{{ user.email }}</div>
          </div>
        </td>
        <td class="hidden md:table-cell">{{ user.phone }}</td>
        <td class="hidden sm:table-cell">
          <a class="link link-primary link-hover">{{ user?.website }}</a>
        </td>
        <td>
          <button (click)="goToUserDetail(user.id)" class="btn btn-ghost btn-xs">Details</button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!isLoading && !users.length">
      <tr>
        <td align="center" colspan="4">No data available</td>
      </tr>
    </tbody>
  </table>
</div>
